@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --blue: #468acf;
    --drak-blue: #1c78d4;
    --rose: #ff4e68;
    --rose-hover: #f33f5a;
    --black: #444;
    --border: 0.1rem solid rgba(0,0,0,0.1);
    --border-hover: 0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
    --main-color: #027581;
    --main-color-hover: #1a7f8a;
    --color-dark: #1D2231;
    --text-gray: #8894a5;
    --border: 0.1rem solid rgba(0,0,0,0.1);
    --border-hover: 0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
    --bg-color: #f1f5f9;
    --text: #555;
    --success: #DEF7EC;
    --processing: #F0F6B2;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .3s linear;
    transition: width none;
    list-style: none;
}
html{
    font-size: 62.5%;
}

/*SIDEBAR*/
#sidebar-toggle{
    display: none;
}
.sidebar{
    height: 100%;
    width: 24rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 1rem;
}
.sidebar .sidebar-header .brand span{
    font-size: 2rem;
}
.sidebar .sidebar-header label{
    font-size: 2rem;
}
.sidebar .sidebar-header label:hover{
    cursor: pointer;
}
.sidebar a{
    color: #fff;
    font-size: 1.5rem;
}
.sidebar span:last-child{
    padding-left: 1rem;
}
.sidebar .sidebar-menu ul li a span{
    font-size: 1.7rem;
}
.sidebar .sidebar-menu ul li{
    padding: 2rem;
}
.sidebar .sidebar-menu ul li:hover{
    background-color: var(--main-color-hover);
    color: #fff;
    cursor: pointer;
}

/* Dùng để kéo ra kéo vào */
#sidebar-toggle:checked ~ .sidebar {
    width: 6rem;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 6rem;
}

#sidebar-toggle:checked ~ .main-content header {
    left: 6rem;
    width: calc(100% - 6rem);
}

/* SEARCH */
.main-content{
    position: relative;
    margin-left: 24rem; 
    transition: margin-left 500ms;
}
header{ /*kính tìm kiếm, textbox,chuông, tin nhắn*/
    position: fixed;
    top: 0;
    left: 24rem; /*độ rộng của menu*/
    z-index: 100;
    width: calc(100% - 24rem);
    background: #fff;
    padding: 0rem 2rem;
    height: 6rem; /*chiều cao item là 60px*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}
.search-wrapper{
    display: flex;
    align-items: center;
}
.search-wrapper span{
    font-size: 1.7rem;
}
.search-wrapper span:hover{
    cursor: pointer;
}
.search-wrapper input{
    padding: 1rem;
    font-size: 1.8rem;
}
.social-icons div img{
    height: 4rem;
    width: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.social-icons div img:hover{
    cursor: pointer;
}

/* 4 Ô */
main {
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 90vh;
    padding: 1rem 2rem;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--black);
    font-weight: 450;
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.card-single {
    background: #fff;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}

.card-body {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.card-body span {
    font-size: 3rem;
    color: #777;
    padding-right: 1.5rem;
}

.card-body h5 {
    color: var(--black);
    font-weight: 400;
    font-size: 2rem;
}

.card-body h4 {
    color: var(--text);
    font-size: 2rem;
}
.card-body a {
    color: var(--main-color);
    text-decoration: underline;
    font-size: 1.7rem;
}




/* TABLE */
.recent {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.recent .activity-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
}

.recent .activity-card{
    background: #fff;
    border-radius: 1rem;
}

.recent .activity-grid .activity-card h3 {
    color: var(--text);
    margin: 1rem;
    font-size: 2rem;
}

.recent .activity-grid .activity-card table{
    width: 100%;
    border-collapse: collapse; /*chỉ dữ lại 1 đường viền*/
}

.recent .activity-grid .activity-card table thead{
    background: #efefef;
    text-align: left;
}

th, td {
    font-size: 1.7rem;
    padding: 1rem 2rem;
    color: var(--text);
}

td {
    font-size: 1.5rem;
}

tbody tr:nth-child(even) { /*xen kẽ*/
    background: #f9fafc;
}

.badge {
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.badge.success {
    background: var(--success);
    color: var(--main-color);
}

.badge.warning {
    background: var(--processing);
    color: orange;
}

.td-team {
    display: flex;
    align-items: center;
}

.td-team .img-1 img,
.td-team .img-2 img,
.td-team .img-3 img{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -15px;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
}














@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 60px;
        z-index: 150;
    }

    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;
    }

    .sidebar .sidebar-header,
    .sidebar li {
        display: flex;
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }

    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }
    
    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child {
        display: inline;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
    }
    
    #sidebar-toggle:checked ~ .sidebar li {
        display: block;
    }

    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }

    #sidebar-toggle:checked ~ .main-content header {
        left: 60px;
    }
}

@media only screen and (max-width: 860px) {
    .dash-cards {
        grid-template-columns: repeat(2,1fr);
    }
    
    .card-single {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
    /* Mai sửa */
    
}

@media only screen and (max-width: 450px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


